<div class="centered-content">
    <div class="modal-box">
        <h1 class="title has-text-primary">Create a new task</h1>
        <input class="input has-background-light is-primary" type="text" placeholder="Enter task name..."
            [ngClass]="{ 'is-danger':(taskTitleInput.dirty || taskTitleInput.touched) && taskTitleInput.value.length < 1}"
            ngModel #taskTitleInput="ngModel">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-danger" [routerLink]="['/lists', listId]">Cancel</button>
            <button class="button is-primary has-text-white" (click)="createNewtask(taskTitleInput.value)"
                [disabled]="!taskTitleInput.value">Create</button>
        </div>
    </div>
</div>